{% extends 'shopapp/base.html' %}

{% block title %}
	Подтверждение архивирования {{ object.name }}
{% endblock %}

{% block body %}
    <h1>Уверены, что хотите архивировать {{ object.name }}</h1>
    <br>
    <div>
    <a href={% url "shopapp:product_details" pk=object.pk %}><button type="button">Отмена</button></a>
    </div>
    <br>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Архивировать</button>
        </form>
    </div>
{% endblock %}
